.qNa-list-item {
    text-align: center;
}

#answer-entry-box {
    margin-top: 10px;
    width: 400px;
    text-align: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 3px;
}

#arrow {
    font-weight: 900;
    font-size: larger;
}